# ASAAS CREDENTIALS
ASAAS_API_KEY=<sua_chave_api>                    # chave obtida no dashboard do Asaas
ASAAS_BASE_URL=https://sandbox.asaas.com/api/v3  # ou https://api.asaas.com/api/v3 em produção

# SWAGGER
SWAGGER_TITLE=Microserviço de Pagamentos Asaas
SWAGGER_DESCRIPTION=Microserviço desenvolvido em NestJS que encapsula toda a integração com a API do Asaas
SWAGGER_VERSION=1.0.0
SWAGGER_PATH=docs

# PORT
PORT=8000